<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar" th:fragment="navbar(active)">
    <a href="/" class="navbar-brand">Papa Express</a>
    <div>
        <!-- Admin navigation (authenticated users only) -->
        <ul  class="navbar-nav">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin}" class="nav-link" th:classappend="${active == 'home'} ? ' active' : ''">
                    <i class="fas fa-house nav-icon"></i>
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/companies}" class="nav-link"
                   th:classappend="${active == 'companies'} ? ' active' : ''">
                    <i class="fas fa-building nav-icon"></i>
                    <span class="tooltip">Companies</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/offices}" class="nav-link" th:classappend="${active == 'offices'} ? ' active' : ''">
                    <i class="fas fa-city nav-icon"></i>
                    <span class="tooltip">Offices</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/locations}" class="nav-link"
                   th:classappend="${active == 'locations'} ? ' active' : ''">
                    <i class="fas fa-map-location-dot nav-icon"></i>
                    <span class="tooltip">Locations</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/price-location-taxes}" class="nav-link"
                   th:classappend="${active == 'plt'} ? ' active' : ''">
                    <i class="fas fa-money-bill-wave nav-icon"></i>
                    <span class="tooltip">Pricing to Location</span>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/price-weight-taxes}" class="nav-link" th:classappend="${active == 'price-weight-taxes'} ? ' active' : ''">
                    <i class="fas fa-money-bill-wave nav-icon"></i>
                    <span class="tooltip">PriceWeightTax</span>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/users}" class="nav-link" th:classappend="${active == 'users'} ? ' active' : ''">
                    <i class="fas fa-user nav-icon"></i>
                    <span class="tooltip">Staff Users</span>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/clients}" class="nav-link" th:classappend="${active == 'clients'} ? ' active' : ''">
                    <i class="fas fa-user nav-icon"></i>
                    <span class="tooltip">Client Users</span>
                </a>
            </li>

            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/admin/parcels}" class="nav-link" th:classappend="${active == 'parcel-admin'} ? ' active' : ''">
                    <i class="fas fa-envelope-square nav-icon"></i>
                    <span class="tooltip">Parcel (STAFF)</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/parcels/get-create-form}" class="nav-link"
                   th:classappend="${active == 'create-parcel'} ? ' active' : ''">
                    <i class="fas fa-plus-circle nav-icon"></i>
                    <span class="tooltip">Create Parcel</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/track-parcel}" class="nav-link"
                   th:classappend="${active == 'track-parcel'} ? ' active' : ''">
                    <i class="fas fa-search nav-icon"></i>
                    <span class="tooltip">Track Parcel</span>
                </a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a th:href="@{/login-page}" class="nav-link nav-login">
                    <i class="fas fa-user nav-icon"></i>
                    <span class="tooltip">Login</span>
                </a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a th:href="@{/register}" class="nav-link">
                    <i class="fas fa-user-plus nav-icon"></i>
                    <span class="tooltip">Register</span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{/logout}" class="nav-link nav-logout">
                    <i class="fas fa-sign-out-alt nav-icon"></i>
                    <span class="tooltip">Logout</span>
                </a>
            </li>

        </ul>

    </div>
</nav>
</body>
</html>
